node_modules
dist
.DS_Store
*.log
*.swp
*.swo
*~
.vscode
.env.local
.env
src-tauri/.env
src-tauri/target

# Release artifacts
release/
*.msi
*.nsis
*.exe
!src-tauri/target/release/*.exe

# Build cache
.tauri
*.cache
